<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJMUTxBBwTQS8p-2Ok1XhIboPqbtzkshk</string>
	<key>GCM_SENDER_ID</key>
	<string>146851567269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.timchi.flutternotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>note-demo-cb0de</string>
	<key>STORAGE_BUCKET</key>
	<string>note-demo-cb0de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146851567269:ios:2eb299adfaeddbb6aa5f4c</string>
</dict>
</plist>